body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: fantasy;
  font-size: 90px;
}
h3 {
  color: #11999E;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
width: 4%;
  margin: 100px auto;
}

h2 {
color:  #66bfbf;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.skill-row {
  width: 50%;
  margin: 40px auto 100px auto;
  text-align: left;
  line-height: 2;
}

p {
  font-family: sans-serif;
  margin: auto;
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.intro{
  width: 60%;
}

.profile-pix {
  height: 170px;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: EAF6F6;
}

.copyright{
  color: EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}
.solar {
  height: 200px;
}

.computer {
  height: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 5.625rem;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
}
.solar {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.computer {
  width: 25%;
  float: right;
  margin-left:  30px;
}
<a href="#" class="myButton">contact me</a>

.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}
